<div *ngIf="hasErrors()" class="notification notification--error notification--inline" role="alert">
  <div class="notification__header">
    <div class="notification__icon">
      <i class="fa-solid fa-circle-exclamation"></i>
    </div>
    <div class="notification__title">Por favor corrige los siguientes errores</div>
  </div>
  <div class="notification__body">
    <ul class="notification__error-list">
      <li *ngFor="let error of errors" class="notification__error-item">
        <strong>{{ getFieldLabel(error.field) }}:</strong>
        <ng-container *ngFor="let msg of error.errors; let last = last">
          {{ cleanMessage(error.field, msg) }}<span *ngIf="!last"> · </span>
        </ng-container>
      </li>
    </ul>
  </div>
</div>
