USE [dbBitCorp]
GO
/****** Object:  Table [dbo].[tbl_C08009_TipoEquipo]    Script Date: 3/4/2026 11:33:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_C08009_TipoEquipo](
	[C08009_IdTipoEquipo] [varchar](2) NOT NULL,
	[C08009_TipoEquipo] [varchar](50) NULL,
	[C08009_IdCategoria] [varchar](2) NULL,
	[C08009_Categoria] [varchar](20) NULL,
	[C08009_Codificacion] [varchar](5) NULL,
 CONSTRAINT [PK_tbl_C08009_TipoEquipo] PRIMARY KEY CLUSTERED 
(
	[C08009_IdTipoEquipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_C08009_TipoEquipo] ([C08009_IdTipoEquipo], [C08009_TipoEquipo], [C08009_IdCategoria], [C08009_Categoria], [C08009_Codificacion]) VALUES (N'AM', N'AUTOMÓVIL', N'VL', N'VEHÍCULO LIVIANO', N'VL-AM')
INSERT [dbo].[tbl_C08009_TipoEquipo] ([C08009_IdTipoEquipo], [C08009_TipoEquipo], [C08009_IdCategoria], [C08009_Categoria], [C08009_Codificacion]) VALUES (N'CA', N'CISTERNA DE AGUA', N'VP', N'VEHÍCULO PESADO', N'VP-CA')
INSERT [dbo].[tbl_C08009_TipoEquipo] ([C08009_IdTipoEquipo], [C08009_TipoEquipo], [C08009_IdCategoria], [C08009_Categoria], [C08009_Codificacion]) VALUES (N'CB', N'CAMIÓN BARANDA', N'VL', N'VEHÍCULO LIVIANO', N'VL-CB')
GO
