USE [dbBitCorp]
GO
/****** Object:  Table [dbo].[tbl_C06001_Categoria]    Script Date: 3/4/2026 11:33:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_C06001_Categoria](
	[C06001_IdCategoria] [varchar](3) NOT NULL,
	[C06001_Categoria] [varchar](50) NULL,
	[C06001_Descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_C06001_Categoria] PRIMARY KEY CLUSTERED 
(
	[C06001_IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_C06001_Categoria] ([C06001_IdCategoria], [C06001_Categoria], [C06001_Descripcion]) VALUES (N'ACE', N'ACERO', NULL)
INSERT [dbo].[tbl_C06001_Categoria] ([C06001_IdCategoria], [C06001_Categoria], [C06001_Descripcion]) VALUES (N'ACF', N'ACTIVO FIJO', NULL)
INSERT [dbo].[tbl_C06001_Categoria] ([C06001_IdCategoria], [C06001_Categoria], [C06001_Descripcion]) VALUES (N'ACG', N'ACEITE Y GRASA', NULL)
GO
