USE [dbBitCorp]
GO
/****** Object:  Table [dbo].[tbl_SUNAT01_TipoMedioPago]    Script Date: 3/4/2026 11:33:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SUNAT01_TipoMedioPago](
	[SUNAT01_Id_Pago] [varchar](10) NOT NULL,
	[SUNAT01_TipoMedioPago] [varchar](100) NULL,
	[SUNAT01_MedioPago] [varchar](10) NULL,
 CONSTRAINT [PK_tbl_SUNAT01_TipoMedioPago] PRIMARY KEY CLUSTERED 
(
	[SUNAT01_Id_Pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_SUNAT01_TipoMedioPago] ([SUNAT01_Id_Pago], [SUNAT01_TipoMedioPago], [SUNAT01_MedioPago]) VALUES (N'001', N'DEPÓSITO EN CUENTA', NULL)
INSERT [dbo].[tbl_SUNAT01_TipoMedioPago] ([SUNAT01_Id_Pago], [SUNAT01_TipoMedioPago], [SUNAT01_MedioPago]) VALUES (N'002', N'GIRO', NULL)
INSERT [dbo].[tbl_SUNAT01_TipoMedioPago] ([SUNAT01_Id_Pago], [SUNAT01_TipoMedioPago], [SUNAT01_MedioPago]) VALUES (N'003', N'TRANSFERENCIA DE FONDOS', NULL)
GO
