USE [dbBitCorp]
GO
/****** Object:  Table [dbo].[tbl_C08004_ValorizacionEquipo]    Script Date: 3/4/2026 11:33:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_C08004_ValorizacionEquipo](
	[C08004_IdValorizacion] [varchar](22) NOT NULL,
	[C08004_NumValorizacion] [varchar](3) NULL,
	[C08003_IdContratoAdenda] [varchar](23) NULL,
	[C08004_FechaInicio] [date] NULL,
	[C08004_FechaFin] [date] NULL,
	[C08004_TipoCambio] [money] NULL,
	[C08004_Cantidad] [decimal](8, 4) NULL,
	[C08004_UnidadMedida] [varchar](10) NULL,
	[C08004_PU_Valorizacion] [money] NULL,
	[C08004_ValorizacionBruta] [money] NULL,
	[C08004_CantidadCombustible] [decimal](8, 4) NULL,
	[C08004_PrecioCombustible] [money] NULL,
	[C08004_ImporteCombustible] [money] NULL,
	[C08004_PrecioManipuleoCombustible] [money] NULL,
	[C08004_ImporteManipuleoCombustible] [money] NULL,
	[C08004_ImporteAdelanto] [money] NULL,
	[C08004_ImporteGastoObra] [money] NULL,
	[C08004_ImporteExcesoCombustible] [money] NULL,
	[C08004_DescuenteTotal] [money] NULL,
	[C08004_ValorizacionNeta] [money] NULL,
	[C08004_Estatus] [varchar](20) NULL,
 CONSTRAINT [PK_tbl_C08004_ValorizacionEquipo] PRIMARY KEY CLUSTERED 
(
	[C08004_IdValorizacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_C08004_ValorizacionEquipo]  WITH CHECK ADD  CONSTRAINT [FK_tbl_C08004_ValorizacionEquipo_tbl_C08003_ContratoAdenda] FOREIGN KEY([C08003_IdContratoAdenda])
REFERENCES [dbo].[tbl_C08003_ContratoAdenda] ([C08003_IdContratoAdenda])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[tbl_C08004_ValorizacionEquipo] CHECK CONSTRAINT [FK_tbl_C08004_ValorizacionEquipo_tbl_C08003_ContratoAdenda]
GO
