USE [dbBitCorp]
GO
/****** Object:  Table [dbo].[tbl_C10001_MovimentoCaja]    Script Date: 3/4/2026 11:33:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_C10001_MovimentoCaja](
	[C10001_NumMovimiento] [int] IDENTITY(1,1) NOT NULL,
	[C10001_FechaMovimiento] [datetime] NULL,
	[C10001_NumCaja] [varchar](10) NULL,
	[C10001_Rubro] [varchar](50) NULL,
	[C10001_Fecha] [date] NULL,
	[C10001_RUC] [varchar](11) NULL,
	[C10001_RazonSocial] [varchar](50) NULL,
	[C10001_TipoDocumento] [varchar](50) NULL,
	[C10001_SerieDocumento] [varchar](10) NULL,
	[C10001_NumDocumento] [varchar](10) NULL,
	[C10001_Detalle] [varchar](100) NULL,
	[C10001_Monto] [money] NULL,
	[C10001_EntradaSalida] [varchar](15) NULL,
	[C10001_NumSolicitud] [int] NULL,
	[C10001_RegistradoPor] [varchar](100) NULL,
	[C10001_FechaRegistro] [datetime] NULL,
	[C10001_AprobadoPor] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_C10001_MovimentoCaja] PRIMARY KEY CLUSTERED 
(
	[C10001_NumMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_C10001_MovimentoCaja] ON 

INSERT [dbo].[tbl_C10001_MovimentoCaja] ([C10001_NumMovimiento], [C10001_FechaMovimiento], [C10001_NumCaja], [C10001_Rubro], [C10001_Fecha], [C10001_RUC], [C10001_RazonSocial], [C10001_TipoDocumento], [C10001_SerieDocumento], [C10001_NumDocumento], [C10001_Detalle], [C10001_Monto], [C10001_EntradaSalida], [C10001_NumSolicitud], [C10001_RegistradoPor], [C10001_FechaRegistro], [C10001_AprobadoPor]) VALUES (89, CAST(N'2020-12-15T08:52:02.000' AS DateTime), N'2020.12_01', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0.0000, N'SALIDA', NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[tbl_C10001_MovimentoCaja] OFF
GO
