USE [dbBitCorp]
GO
/****** Object:  Table [dbo].[tbl_C02105_ReporteActoCondicion]    Script Date: 3/4/2026 11:33:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_C02105_ReporteActoCondicion](
	[C02105_0NumRegistro] [int] IDENTITY(1,1) NOT NULL,
	[C02105_0FechaRegistro] [smalldatetime] NULL,
	[C02105_0RegistradoPorDNI] [varchar](8) NULL,
	[C02105_0RegistradoPor] [varchar](60) NULL,
	[C02105_0ModificadoPor] [varchar](100) NULL,
	[C02105_0FechaModificacion] [smalldatetime] NULL,
	[G00001_Id_UnidadOperativa] [varchar](10) NULL,
	[C02105_1ReportadoPorDNI] [varchar](8) NULL,
	[C02105_1ReportadoPor] [varchar](60) NULL,
	[C02105_1Cargo] [varchar](50) NULL,
	[C02105_1Empresa] [varchar](100) NULL,
	[C02105_2Fecha] [smalldatetime] NULL,
	[C02105_2Lugar] [varchar](30) NULL,
	[C02105_2Empresa] [varchar](50) NULL,
	[C02105_2SistemaGestion] [varchar](20) NULL,
	[C02105_2TipoReporte] [varchar](20) NULL,
	[C02105_2CodigoActoCondicion] [varchar](10) NULL,
	[C02105_2ActoCondicion] [varchar](100) NULL,
	[C02105_2DañoA] [varchar](200) NULL,
	[C02105_2Descripcion] [varchar](200) NULL,
	[C02105_3ComoActue] [varchar](200) NULL,
	[C02105_3Estado] [varchar](10) NULL,
	[C02105_4_1PorQue] [varchar](100) NULL,
	[C02105_4_2PorQue] [varchar](100) NULL,
	[C02105_4_3PorQue] [varchar](100) NULL,
	[C02105_4_4PorQue] [varchar](100) NULL,
	[C02105_4_5PorQue] [varchar](100) NULL,
	[C02105_5AccionCorrectiva] [varchar](200) NULL,
 CONSTRAINT [PK_C02105_ReporteActoCondicion] PRIMARY KEY CLUSTERED 
(
	[C02105_0NumRegistro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_C02105_ReporteActoCondicion] ON 

SET IDENTITY_INSERT [dbo].[tbl_C02105_ReporteActoCondicion] OFF
GO
