USE [dbBitCorp]
GO
/****** Object:  Table [dbo].[tbl_C08002_AdelantoAmortizacion_002]    Script Date: 3/4/2026 11:33:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_C08002_AdelantoAmortizacion_002](
	[C08002_Id_AdelantoAmortizacion] [int] IDENTITY(1,1) NOT NULL,
	[C08002_FechaOperacion] [date] NULL,
	[C08002_TipoOperacion] [varchar](12) NULL,
	[C08002_NumDocumento] [varchar](20) NULL,
	[C08002_Concepto] [varchar](50) NULL,
	[C08002_NumCuota] [varchar](5) NULL,
	[C08002_Monto] [money] NULL,
	[C08001_CodigoEquipo] [varchar](20) NULL,
	[C08004_IdValorizacion] [varchar](22) NULL,
 CONSTRAINT [PK_tbl_C08002_AdelantoAmortizacion] PRIMARY KEY CLUSTERED 
(
	[C08002_Id_AdelantoAmortizacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_C08002_AdelantoAmortizacion_002] ON 

INSERT [dbo].[tbl_C08002_AdelantoAmortizacion_002] ([C08002_Id_AdelantoAmortizacion], [C08002_FechaOperacion], [C08002_TipoOperacion], [C08002_NumDocumento], [C08002_Concepto], [C08002_NumCuota], [C08002_Monto], [C08001_CodigoEquipo], [C08004_IdValorizacion]) VALUES (-2, CAST(N'2021-11-30' AS Date), N'ADELANTO', N'ASDF', N'ASDFASD', N'SS', 2000.0000, N'04.CCU-VP-CA-1002', N'04.CCU-VP-CA-1002-051')
INSERT [dbo].[tbl_C08002_AdelantoAmortizacion_002] ([C08002_Id_AdelantoAmortizacion], [C08002_FechaOperacion], [C08002_TipoOperacion], [C08002_NumDocumento], [C08002_Concepto], [C08002_NumCuota], [C08002_Monto], [C08001_CodigoEquipo], [C08004_IdValorizacion]) VALUES (1, CAST(N'2020-01-31' AS Date), N'ADELANTO', N'CF-2002', N'ADELANTOS LIMA Nº  001/2021 ', N'1/4', 2153.5000, N'04.CCU-MP-CF-2002', N'04.CCU-MP-CF-2002-017')
INSERT [dbo].[tbl_C08002_AdelantoAmortizacion_002] ([C08002_Id_AdelantoAmortizacion], [C08002_FechaOperacion], [C08002_TipoOperacion], [C08002_NumDocumento], [C08002_Concepto], [C08002_NumCuota], [C08002_Monto], [C08001_CodigoEquipo], [C08004_IdValorizacion]) VALUES (2, CAST(N'2020-01-31' AS Date), N'AMORTIZACIÓN', N'CF-2002', N'ADELANTOS LIMA Nº  001/2021 ', N'1/4', -2153.5000, N'04.CCU-MP-CF-2002', N'04.CCU-MP-CF-2002-017')
GO
SET IDENTITY_INSERT [dbo].[tbl_C08002_AdelantoAmortizacion_002] OFF
GO
ALTER TABLE [dbo].[tbl_C08002_AdelantoAmortizacion_002]  WITH CHECK ADD  CONSTRAINT [FK_tbl_C08002_AdelantoAmortizacion_tbl_C08001_Equipo] FOREIGN KEY([C08001_CodigoEquipo])
REFERENCES [dbo].[tbl_C08001_Equipo] ([C08001_CodigoEquipo])
GO
ALTER TABLE [dbo].[tbl_C08002_AdelantoAmortizacion_002] CHECK CONSTRAINT [FK_tbl_C08002_AdelantoAmortizacion_tbl_C08001_Equipo]
GO
ALTER TABLE [dbo].[tbl_C08002_AdelantoAmortizacion_002]  WITH CHECK ADD  CONSTRAINT [FK_tbl_C08002_AdelantoAmortizacion_tbl_C08004_ValorizacionEquipo] FOREIGN KEY([C08004_IdValorizacion])
REFERENCES [dbo].[tbl_C08004_ValorizacionEquipo] ([C08004_IdValorizacion])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[tbl_C08002_AdelantoAmortizacion_002] CHECK CONSTRAINT [FK_tbl_C08002_AdelantoAmortizacion_tbl_C08004_ValorizacionEquipo]
GO
