USE [dbBitCorp]
GO
/****** Object:  Table [dbo].[tbl_C05032_EDTTareo]    Script Date: 3/4/2026 11:33:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_C05032_EDTTareo](
	[C05032_Id_EdtTareo] [int] NOT NULL,
	[A02001_Id_EDT] [int] NULL,
	[C05028_Id_Tareo] [int] NULL,
	[C05032_Horas] [decimal](2, 2) NULL,
 CONSTRAINT [PK_tbl_C05032_EDTTareo] PRIMARY KEY CLUSTERED 
(
	[C05032_Id_EdtTareo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_C05032_EDTTareo]  WITH CHECK ADD  CONSTRAINT [FK_tbl_C05032_EDTTareo_tbl_A02001_EDT] FOREIGN KEY([A02001_Id_EDT])
REFERENCES [dbo].[tbl_A02001_EDT] ([A02001_Id_EDT])
GO
ALTER TABLE [dbo].[tbl_C05032_EDTTareo] CHECK CONSTRAINT [FK_tbl_C05032_EDTTareo_tbl_A02001_EDT]
GO
ALTER TABLE [dbo].[tbl_C05032_EDTTareo]  WITH CHECK ADD  CONSTRAINT [FK_tbl_C05032_EDTTareo_tbl_C05028_Tareo] FOREIGN KEY([C05028_Id_Tareo])
REFERENCES [dbo].[tbl_C05028_Tareo] ([C05028_Id_Tareo])
GO
ALTER TABLE [dbo].[tbl_C05032_EDTTareo] CHECK CONSTRAINT [FK_tbl_C05032_EDTTareo_tbl_C05028_Tareo]
GO
