USE [dbBitCorp]
GO
/****** Object:  Table [dbo].[tbl_C07001_Proveedor]    Script Date: 3/4/2026 11:33:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_C07001_Proveedor](
	[C07001_RUC] [varchar](11) NOT NULL,
	[C07001_RazonSocial] [varchar](100) NOT NULL,
	[C07001_Direccion] [varchar](100) NULL,
	[C07001_DniRepresentanteLegal] [varchar](11) NULL,
	[C07001_RepresentanteLegal] [varchar](50) NULL,
	[C07001_ProveedorDe] [varchar](150) NULL,
	[C07001_ListaProductosServicios] [varchar](300) NULL,
	[C07001_Contacto] [varchar](150) NULL,
	[C07001_Correo] [varchar](150) NULL,
	[C07001_Celular] [varchar](50) NULL,
	[C07001_EntidadFinanciera] [varchar](50) NULL,
	[C07001_CuentaCorriente] [varchar](30) NULL,
	[C07001_CCI] [varchar](30) NULL,
	[C07001_CuentaDetraccion] [varchar](30) NULL,
	[C07001_FechaActualizacion] [smalldatetime] NULL,
	[C07001_ActualizadoPor] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_C07001_Proveedor] PRIMARY KEY CLUSTERED 
(
	[C07001_RUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_C07001_Proveedor] ([C07001_RUC], [C07001_RazonSocial], [C07001_Direccion], [C07001_DniRepresentanteLegal], [C07001_RepresentanteLegal], [C07001_ProveedorDe], [C07001_ListaProductosServicios], [C07001_Contacto], [C07001_Correo], [C07001_Celular], [C07001_EntidadFinanciera], [C07001_CuentaCorriente], [C07001_CCI], [C07001_CuentaDetraccion], [C07001_FechaActualizacion], [C07001_ActualizadoPor]) VALUES (N'10414981360', N'QUISPE MAMANI HUSSEM HEVANGEL', N'JR. CARABAYA N° 158', NULL, N'QUISPE MAMANI HUSSEM HEVANGEL', N'SERVICIO EN GENERAL_', N'Impresion de Banners
Trabajos de impresión', N'QUISPE MAMANI HUSSEM HEVANGEL', N'GRAFIFOXSA@GMAIL.COM', N'971512189', NULL, NULL, NULL, NULL, CAST(N'2021-02-12T15:46:00' AS SmallDateTime), N'15623642_RAUL CABANILLAS CALDAS')
GO
INSERT [dbo].[tbl_C07001_Proveedor] ([C07001_RUC], [C07001_RazonSocial], [C07001_Direccion], [C07001_DniRepresentanteLegal], [C07001_RepresentanteLegal], [C07001_ProveedorDe], [C07001_ListaProductosServicios], [C07001_Contacto], [C07001_Correo], [C07001_Celular], [C07001_EntidadFinanciera], [C07001_CuentaCorriente], [C07001_CCI], [C07001_CuentaDetraccion], [C07001_FechaActualizacion], [C07001_ActualizadoPor]) VALUES (N'20321811559', N'SERVITRAN E.I.R.L', N'JR. JORGE CHAVEZ N° 125 CERCADO - PUNO - JULIACA', N'02366883', N'ADRIANA VICTORIA BENIQUE TIZNADO', N'SERVICIO Y ALQUILER DE EQUIPOS_', N'MOTONIVELADORA
RODILLO LISO
VOLQUETE
', N'ADRIANA VICTORIA BENIQUE TIZNADO', N'CONTACTO@SERVITRAN.COM.PE', N'951984791', N'BANCO DE CRÉDITO DEL PERÚ', N'4051718522016', N'00240500171852201691', NULL, CAST(N'2021-02-13T11:36:00' AS SmallDateTime), N'47403012_JOSUE GILMAR CARHUARICRA ALANIA')
GO
