USE [dbBitCorp]
GO
/****** Object:  Table [dbo].[tbl_C07003_SeleccionProveedor]    Script Date: 3/4/2026 11:33:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_C07003_SeleccionProveedor](
	[C07003_IdSeleccion] [int] NULL
) ON [PRIMARY]
GO
