USE [dbBitCorp]
GO
/****** Object:  Table [dbo].[tbl_C06002_Producto]    Script Date: 3/4/2026 11:33:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_C06002_Producto](
	[C06002_IdProducto] [varchar](8) NOT NULL,
	[C06001_IdCategoria] [varchar](3) NULL,
	[C06002_Producto] [varchar](80) NULL,
	[C06002_UM] [varchar](10) NULL,
	[C06002_Descripcion] [varchar](50) NULL,
	[C06002_FechaActualizacion] [smalldatetime] NULL,
	[C06002_ActualizadoPor] [varchar](50) NULL,
	[C06002_Etapa] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_C06002_Producto] PRIMARY KEY CLUSTERED 
(
	[C06002_IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_C06002_Producto] ([C06002_IdProducto], [C06001_IdCategoria], [C06002_Producto], [C06002_UM], [C06002_Descripcion], [C06002_FechaActualizacion], [C06002_ActualizadoPor], [C06002_Etapa]) VALUES (N'ACE-001', N'ACE', N'ALAMBRE 16"', N'KILOGRAMOS', NULL, CAST(N'2021-06-01T15:41:00' AS SmallDateTime), N'47403012_JOSUE GILMAR CARHUARICRA ALANIA', N'SIN ESTANDARIZACION')
INSERT [dbo].[tbl_C06002_Producto] ([C06002_IdProducto], [C06001_IdCategoria], [C06002_Producto], [C06002_UM], [C06002_Descripcion], [C06002_FechaActualizacion], [C06002_ActualizadoPor], [C06002_Etapa]) VALUES (N'ACE-002', N'ACE', N'ALAMBRE 8"', N'KILOGRAMOS', NULL, CAST(N'2021-01-29T22:45:00' AS SmallDateTime), N'47403012_JOSUE GILMAR CARHUARICRA ALANIA', N'SIN ESTANDARIZACION')
INSERT [dbo].[tbl_C06002_Producto] ([C06002_IdProducto], [C06001_IdCategoria], [C06002_Producto], [C06002_UM], [C06002_Descripcion], [C06002_FechaActualizacion], [C06002_ActualizadoPor], [C06002_Etapa]) VALUES (N'ACE-003', N'ACE', N'CLAVO 1" 1/2', N'KILOGRAMOS', NULL, CAST(N'2021-01-29T22:45:00' AS SmallDateTime), N'47403012_JOSUE GILMAR CARHUARICRA ALANIA', N'SIN ESTANDARIZACION')
GO
