USE [dbBitCorp]
GO
/****** Object:  Table [dbo].[tbl_C07002_CriterioSeleccionEvaluacion]    Script Date: 3/4/2026 11:33:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_C07002_CriterioSeleccionEvaluacion](
	[C07002_IdCriterio] [int] NOT NULL,
	[C07002_SeleccionEvaluacion] [varchar](50) NULL,
	[C07002_ProveedorDe] [varchar](50) NULL,
	[C07002_Aspecto] [varchar](50) NULL,
	[C07002_AspectoPeso] [decimal](6, 4) NULL,
	[C07002_CriterioSeleccion] [varchar](50) NULL,
	[C07002_CriterioSeleccionPeso] [decimal](6, 4) NULL,
	[C07002_Parametro] [varchar](150) NULL,
	[C07002_Punto] [decimal](6, 4) NULL,
	[C07002_Puntaje] [decimal](6, 4) NULL,
	[C07002_RegistradoPor] [varchar](50) NULL,
	[C07002_FechaRegistro] [smalldatetime] NULL,
 CONSTRAINT [PK_tbl_C07002_CriterioSeleccionEvaluacion] PRIMARY KEY CLUSTERED 
(
	[C07002_IdCriterio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
