USE [dbBitCorp]
GO
/****** Object:  Table [dbo].[tbl_G00002_Usuario]    Script Date: 3/4/2026 11:33:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_G00002_Usuario](
	[G00002_DNI] [varchar](8) NOT NULL,
	[G00002_Usuario] [varchar](50) NULL,
	[G00002_Contraseña] [varchar](50) NULL,
	[G00002_Email] [varchar](50) NULL,
	[C10_CajaChica] [varchar](50) NULL,
	[G00001_Id_UnidadOperativa] [varchar](7) NULL,
	[G00002_Estado] [varchar](8) NULL,
 CONSTRAINT [PK_tbl_000_Usuario] PRIMARY KEY CLUSTERED 
(
	[G00002_DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_G00002_Usuario] ([G00002_DNI], [G00002_Usuario], [G00002_Contraseña], [G00002_Email], [C10_CajaChica], [G00001_Id_UnidadOperativa], [G00002_Estado]) VALUES (N'02039905', N'ARIZABAL RAMIREZ JUAN MANUEL  ', N'02039905', N'', N'', N'06.CAA', N'ACTIVO')
INSERT [dbo].[tbl_G00002_Usuario] ([G00002_DNI], [G00002_Usuario], [G00002_Contraseña], [G00002_Email], [C10_CajaChica], [G00001_Id_UnidadOperativa], [G00002_Estado]) VALUES (N'02167083', N'ZENON PANIAGUA ALVAREZ', N'02167083', N'zpaniagua@aramsa.pe ', NULL, N'06.CAA', N'NOACTIVO')
INSERT [dbo].[tbl_G00002_Usuario] ([G00002_DNI], [G00002_Usuario], [G00002_Contraseña], [G00002_Email], [C10_CajaChica], [G00001_Id_UnidadOperativa], [G00002_Estado]) VALUES (N'06548924', N'FLAVIO ZENITAGOYA BUSTAMANTE', N'06548924', NULL, N'Rol_Usuario', N'01.OCL', N'ACTIVO')
GO
