USE [dbBitCorp]
GO
/****** Object:  Table [dbo].[tbl_C10001_SolicitudCaja]    Script Date: 3/4/2026 11:33:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_C10001_SolicitudCaja](
	[C10001_NumSolicitud] [int] IDENTITY(1,1) NOT NULL,
	[C10001_FechaSolicitud] [datetime] NULL,
	[DNI_Usuario] [varchar](8) NULL,
	[Nombre] [varchar](50) NULL,
	[C10001_Motivo] [varchar](100) NULL,
	[C10001_MontoSolicitado] [money] NULL,
	[C10001_MontoRendido] [money] NULL,
	[C10001_MontoDevueltoReembolsado] [money] NULL,
	[C10001_Estatus] [varchar](15) NULL,
 CONSTRAINT [PK_tbl_C10001_SolicitudCaja] PRIMARY KEY CLUSTERED 
(
	[C10001_NumSolicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_C10001_SolicitudCaja] ON 

INSERT [dbo].[tbl_C10001_SolicitudCaja] ([C10001_NumSolicitud], [C10001_FechaSolicitud], [DNI_Usuario], [Nombre], [C10001_Motivo], [C10001_MontoSolicitado], [C10001_MontoRendido], [C10001_MontoDevueltoReembolsado], [C10001_Estatus]) VALUES (48, CAST(N'2020-12-22T15:37:30.000' AS DateTime), N'48502030', N'MARIBEL CRUZ CHIPANA', N'MOVILIDAD PARA ENTREGA DE DOCUMENTOS SUNAFIL', 18.6000, 18.6000, 0.0000, N'RENDIDO')
INSERT [dbo].[tbl_C10001_SolicitudCaja] ([C10001_NumSolicitud], [C10001_FechaSolicitud], [DNI_Usuario], [Nombre], [C10001_Motivo], [C10001_MontoSolicitado], [C10001_MontoRendido], [C10001_MontoDevueltoReembolsado], [C10001_Estatus]) VALUES (49, CAST(N'2020-12-22T15:54:46.000' AS DateTime), N'07204945', N'VIOLETA ESCALANTE ESCUDERO', N'movilidad', 150.0000, 130.0000, 20.0000, N'RENDIDO')
INSERT [dbo].[tbl_C10001_SolicitudCaja] ([C10001_NumSolicitud], [C10001_FechaSolicitud], [DNI_Usuario], [Nombre], [C10001_Motivo], [C10001_MontoSolicitado], [C10001_MontoRendido], [C10001_MontoDevueltoReembolsado], [C10001_Estatus]) VALUES (50, CAST(N'2020-12-22T15:56:11.000' AS DateTime), N'07204945', N'VIOLETA ESCALANTE ESCUDERO', N'compras varias', 103.0000, 102.8900, 0.1100, N'RENDIDO')
GO
SET IDENTITY_INSERT [dbo].[tbl_C10001_SolicitudCaja] OFF
GO
