USE [dbBitCorp]
GO
/****** Object:  Table [dbo].[tbl_C02000_ListaActoCondicionInseguro]    Script Date: 3/4/2026 11:33:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_C02000_ListaActoCondicionInseguro](
	[C02000_CodigoActoCondicion] [varchar](5) NOT NULL,
	[C02000_ActoCondicion] [varchar](100) NULL,
	[C02000_CategoriaActoCondicionn] [varchar](20) NULL,
 CONSTRAINT [PK_tbl_C02000_ListaActoCondicionInseguro] PRIMARY KEY CLUSTERED 
(
	[C02000_CodigoActoCondicion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_C02000_ListaActoCondicionInseguro] ([C02000_CodigoActoCondicion], [C02000_ActoCondicion], [C02000_CategoriaActoCondicionn]) VALUES (N'A01', N'A01: NO CUMPLIR CON LOS PROCEDIMIENTOS DE TRABAJO ESTABLECIDOS', N'ACTO INSEGURO')
INSERT [dbo].[tbl_C02000_ListaActoCondicionInseguro] ([C02000_CodigoActoCondicion], [C02000_ActoCondicion], [C02000_CategoriaActoCondicionn]) VALUES (N'A02', N'A02: USO INCORRECTO DE EPP', N'ACTO INSEGURO')
INSERT [dbo].[tbl_C02000_ListaActoCondicionInseguro] ([C02000_CodigoActoCondicion], [C02000_ActoCondicion], [C02000_CategoriaActoCondicionn]) VALUES (N'A03', N'A03: INTERFERIR O RETIRAR DISPOSITIVOS DE SEGURIDAD O DE CONTROL AMBIENTAL', N'ACTO INSEGURO')
GO
