USE [dbBitCorp]
GO
/****** Object:  Table [dbo].[tbl_G00003_UsuarioRolUnidadOperativa]    Script Date: 3/4/2026 11:33:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_G00003_UsuarioRolUnidadOperativa](
	[G00003_Id_UsuarioRolUnidadOperativa] [int] IDENTITY(1,1) NOT NULL,
	[G00002_DNI] [varchar](8) NOT NULL,
	[G00004_Id_Rol] [int] NOT NULL,
	[G00001_Id_UnidadOperativa] [varchar](7) NOT NULL,
 CONSTRAINT [PK_tbl_G00003_UsuarioRolUnidadOperativa] PRIMARY KEY CLUSTERED 
(
	[G00003_Id_UsuarioRolUnidadOperativa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_G00003_UsuarioRolUnidadOperativa] ON 

INSERT [dbo].[tbl_G00003_UsuarioRolUnidadOperativa] ([G00003_Id_UsuarioRolUnidadOperativa], [G00002_DNI], [G00004_Id_Rol], [G00001_Id_UnidadOperativa]) VALUES (29, N'47403012', 2, N'01.OCL')
INSERT [dbo].[tbl_G00003_UsuarioRolUnidadOperativa] ([G00003_Id_UsuarioRolUnidadOperativa], [G00002_DNI], [G00004_Id_Rol], [G00001_Id_UnidadOperativa]) VALUES (30, N'44924295', 1, N'06.CAA')
INSERT [dbo].[tbl_G00003_UsuarioRolUnidadOperativa] ([G00003_Id_UsuarioRolUnidadOperativa], [G00002_DNI], [G00004_Id_Rol], [G00001_Id_UnidadOperativa]) VALUES (31, N'12345678', 3, N'06.CAA')
SET IDENTITY_INSERT [dbo].[tbl_G00003_UsuarioRolUnidadOperativa] OFF
GO
ALTER TABLE [dbo].[tbl_G00003_UsuarioRolUnidadOperativa]  WITH CHECK ADD  CONSTRAINT [FK_tbl_G00003_UsuarioRolUnidadOperativa_tbl_G00001_UnidadOperativa] FOREIGN KEY([G00001_Id_UnidadOperativa])
REFERENCES [dbo].[tbl_G00001_UnidadOperativa] ([G00001_Id_UnidadOperativa])
GO
ALTER TABLE [dbo].[tbl_G00003_UsuarioRolUnidadOperativa] CHECK CONSTRAINT [FK_tbl_G00003_UsuarioRolUnidadOperativa_tbl_G00001_UnidadOperativa]
GO
ALTER TABLE [dbo].[tbl_G00003_UsuarioRolUnidadOperativa]  WITH CHECK ADD  CONSTRAINT [FK_tbl_G00003_UsuarioRolUnidadOperativa_tbl_G00002_Usuario] FOREIGN KEY([G00002_DNI])
REFERENCES [dbo].[tbl_G00002_Usuario] ([G00002_DNI])
GO
ALTER TABLE [dbo].[tbl_G00003_UsuarioRolUnidadOperativa] CHECK CONSTRAINT [FK_tbl_G00003_UsuarioRolUnidadOperativa_tbl_G00002_Usuario]
GO
ALTER TABLE [dbo].[tbl_G00003_UsuarioRolUnidadOperativa]  WITH CHECK ADD  CONSTRAINT [FK_tbl_G00003_UsuarioRolUnidadOperativa_tbl_G00004_Rol] FOREIGN KEY([G00004_Id_Rol])
REFERENCES [dbo].[tbl_G00004_Rol] ([G00004_Id_Rol])
GO
ALTER TABLE [dbo].[tbl_G00003_UsuarioRolUnidadOperativa] CHECK CONSTRAINT [FK_tbl_G00003_UsuarioRolUnidadOperativa_tbl_G00004_Rol]
GO
