USE [dbBitCorp]
GO
/****** Object:  Table [dbo].[tbl_A02001_EDT]    Script Date: 3/4/2026 11:33:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_A02001_EDT](
	[A02001_Id_EDT] [int] NOT NULL,
	[A02001_Cod_EDT] [varchar](20) NULL,
	[A02001_EDT] [varchar](150) NULL,
	[A02001_UM] [varchar](10) NULL,
	[A02001_Cod_EDT_Alfanumerico] [varchar](10) NULL,
	[G00001_Id_UnidadOperativa] [varchar](7) NOT NULL,
	[G00001_Estado] [varchar](10) NULL,
 CONSTRAINT [PK_tbl_A02001_EDT] PRIMARY KEY CLUSTERED 
(
	[A02001_Id_EDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_A02001_EDT] ([A02001_Id_EDT], [A02001_Cod_EDT], [A02001_EDT], [A02001_UM], [A02001_Cod_EDT_Alfanumerico], [G00001_Id_UnidadOperativa], [G00001_Estado]) VALUES (94, N'01.01', N'Ruta12: Conservación Rutinaria Antes Periódico (55.56 KM)', N'', N'RA.12', N'06.CAA', N'ACTIVO')
INSERT [dbo].[tbl_A02001_EDT] ([A02001_Id_EDT], [A02001_Cod_EDT], [A02001_EDT], [A02001_UM], [A02001_Cod_EDT_Alfanumerico], [G00001_Id_UnidadOperativa], [G00001_Estado]) VALUES (95, N'01.02', N'Ruta18: Conservación Rutinaria Antes Periódico (43.84 KM)', N'', N'RA.18', N'06.CAA', N'ACTIVO')
INSERT [dbo].[tbl_A02001_EDT] ([A02001_Id_EDT], [A02001_Cod_EDT], [A02001_EDT], [A02001_UM], [A02001_Cod_EDT_Alfanumerico], [G00001_Id_UnidadOperativa], [G00001_Estado]) VALUES (96, N'01.03', N'Ruta22: Conservación Rutinaria Antes Mejoramiento (34.32 KM)', N'', N'RA.22', N'06.CAA', N'ACTIVO')
GO
ALTER TABLE [dbo].[tbl_A02001_EDT]  WITH CHECK ADD  CONSTRAINT [FK_tbl_A02001_EDT_tbl_G00001_UnidadOperativa] FOREIGN KEY([G00001_Id_UnidadOperativa])
REFERENCES [dbo].[tbl_G00001_UnidadOperativa] ([G00001_Id_UnidadOperativa])
GO
ALTER TABLE [dbo].[tbl_A02001_EDT] CHECK CONSTRAINT [FK_tbl_A02001_EDT_tbl_G00001_UnidadOperativa]
GO
