USE [dbBitCorp]
GO
/****** Object:  Table [dbo].[tbl_C08010_ExcesoCombustible]    Script Date: 3/4/2026 11:33:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_C08010_ExcesoCombustible](
	[C08010_IdExcesoCombustible] [int] IDENTITY(1,1) NOT NULL,
	[C08004_IdValorizacion] [varchar](22) NULL,
	[C08010_ConsumoCombustible] [money] NULL,
	[C08010_TipoHoroOdo] [varchar](10) NULL,
	[C08010_Inicio] [money] NULL,
	[C08010_Final] [money] NULL,
	[C08010_Total] [money] NULL,
	[C08010_Rendimiento] [money] NULL,
	[C08010_RatioControl] [money] NULL,
	[C08010_Diferencia] [money] NULL,
	[C08010_ExcesoCombustible] [money] NULL,
	[C08010_PrecioUnitario] [money] NULL,
	[C08010_ImporteExcesoCombustible] [money] NULL,
 CONSTRAINT [PK_tbl_C08010_ExcesoCombustible] PRIMARY KEY CLUSTERED 
(
	[C08010_IdExcesoCombustible] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_C08010_ExcesoCombustible] ON 

INSERT [dbo].[tbl_C08010_ExcesoCombustible] ([C08010_IdExcesoCombustible], [C08004_IdValorizacion], [C08010_ConsumoCombustible], [C08010_TipoHoroOdo], [C08010_Inicio], [C08010_Final], [C08010_Total], [C08010_Rendimiento], [C08010_RatioControl], [C08010_Diferencia], [C08010_ExcesoCombustible], [C08010_PrecioUnitario], [C08010_ImporteExcesoCombustible]) VALUES (1, N'04.CCU-MP-RC-2001-048', 0.0000, N'HORÓMETRO', 2745.8000, 2758.7000, 12.9000, 0.0000, 3.0000, 3.0000, -38.7000, 0.0000, 0.0000)
INSERT [dbo].[tbl_C08010_ExcesoCombustible] ([C08010_IdExcesoCombustible], [C08004_IdValorizacion], [C08010_ConsumoCombustible], [C08010_TipoHoroOdo], [C08010_Inicio], [C08010_Final], [C08010_Total], [C08010_Rendimiento], [C08010_RatioControl], [C08010_Diferencia], [C08010_ExcesoCombustible], [C08010_PrecioUnitario], [C08010_ImporteExcesoCombustible]) VALUES (2, N'04.CCU-MP-CF-1008-048', 0.0000, N'HORÓMETRO', 4869.5000, 4927.5000, 58.0000, 0.0000, 4.0000, 4.0000, -232.0000, 0.0000, 0.0000)
INSERT [dbo].[tbl_C08010_ExcesoCombustible] ([C08010_IdExcesoCombustible], [C08004_IdValorizacion], [C08010_ConsumoCombustible], [C08010_TipoHoroOdo], [C08010_Inicio], [C08010_Final], [C08010_Total], [C08010_Rendimiento], [C08010_RatioControl], [C08010_Diferencia], [C08010_ExcesoCombustible], [C08010_PrecioUnitario], [C08010_ImporteExcesoCombustible]) VALUES (3, N'04.CCU-MP-MN-2001-029', 0.0000, N'HORÓMETRO', 3243.0000, 3248.0000, 5.0000, 0.0000, 3.0000, 3.0000, -15.0000, 0.0000, 0.0000)
GO
SET IDENTITY_INSERT [dbo].[tbl_C08010_ExcesoCombustible] OFF
GO
ALTER TABLE [dbo].[tbl_C08010_ExcesoCombustible]  WITH CHECK ADD  CONSTRAINT [FK_tbl_C08010_ExcesoCombustible_tbl_C08004_ValorizacionEquipo] FOREIGN KEY([C08004_IdValorizacion])
REFERENCES [dbo].[tbl_C08004_ValorizacionEquipo] ([C08004_IdValorizacion])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[tbl_C08010_ExcesoCombustible] CHECK CONSTRAINT [FK_tbl_C08010_ExcesoCombustible_tbl_C08004_ValorizacionEquipo]
GO
