USE [dbBitCorp]
GO
/****** Object:  Table [dbo].[tbl_C04001_CentroCosto]    Script Date: 3/4/2026 11:33:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_C04001_CentroCosto](
	[C04001_CodPartida] [varchar](12) NOT NULL,
	[C04001_Partida] [varchar](60) NULL,
	[C04001_CodPartidaN3] [varchar](10) NULL,
	[C04001_PartidaN3] [varchar](60) NULL,
	[C04001_CodPartidaN2] [varchar](10) NULL,
	[C04001_PartidaN2] [varchar](60) NULL,
	[C04001_CodPartidaN1] [varchar](10) NULL,
	[C04001_PartidaN1] [varchar](60) NULL,
	[C04001_Orden] [int] NULL,
 CONSTRAINT [PK_tbl_C04001_CentroCosto] PRIMARY KEY CLUSTERED 
(
	[C04001_CodPartida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_C04001_CentroCosto] ([C04001_CodPartida], [C04001_Partida], [C04001_CodPartidaN3], [C04001_PartidaN3], [C04001_CodPartidaN2], [C04001_PartidaN2], [C04001_CodPartidaN1], [C04001_PartidaN1], [C04001_Orden]) VALUES (N'1.01.01.01', N'Petróleo', N'1.01.01', N'Combustibles (diesel, gasolina y otros)', N'1.01', N'Materiales', N'1', N'Costo Directo', 1)
INSERT [dbo].[tbl_C04001_CentroCosto] ([C04001_CodPartida], [C04001_Partida], [C04001_CodPartidaN3], [C04001_PartidaN3], [C04001_CodPartidaN2], [C04001_PartidaN2], [C04001_CodPartidaN1], [C04001_PartidaN1], [C04001_Orden]) VALUES (N'1.01.01.02', N'Gasolina', N'1.01.01', N'Combustibles (diesel, gasolina y otros)', N'1.01', N'Materiales', N'1', N'Costo Directo', 2)
INSERT [dbo].[tbl_C04001_CentroCosto] ([C04001_CodPartida], [C04001_Partida], [C04001_CodPartidaN3], [C04001_PartidaN3], [C04001_CodPartidaN2], [C04001_PartidaN2], [C04001_CodPartidaN1], [C04001_PartidaN1], [C04001_Orden]) VALUES (N'1.01.01.03', N'Otros (Gas, GLP, GNV)', N'1.01.01', N'Combustibles (diesel, gasolina y otros)', N'1.01', N'Materiales', N'1', N'Costo Directo', 3)
GO
