USE [dbBitCorp]
GO
/****** Object:  Table [dbo].[tbl_G00006_Permiso]    Script Date: 3/4/2026 11:33:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_G00006_Permiso](
	[G00006_Id_Permiso] [int] IDENTITY(1,1) NOT NULL,
	[G00006_Proceso] [varchar](50) NULL,
	[G00006_Modulo] [varchar](50) NULL,
	[G00006_Permiso] [varchar](50) NULL,
 CONSTRAINT [PK_000_PermisoRol] PRIMARY KEY CLUSTERED 
(
	[G00006_Id_Permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_G00006_Permiso] ON 

INSERT [dbo].[tbl_G00006_Permiso] ([G00006_Id_Permiso], [G00006_Proceso], [G00006_Modulo], [G00006_Permiso]) VALUES (1, N'310. Contabilidad', N'001. CajaChica', N'310_001_Usuario')
INSERT [dbo].[tbl_G00006_Permiso] ([G00006_Id_Permiso], [G00006_Proceso], [G00006_Modulo], [G00006_Permiso]) VALUES (2, N'310. Contabilidad', N'001. CajaChica', N'310_001_Responsable_Caja_Chica')
INSERT [dbo].[tbl_G00006_Permiso] ([G00006_Id_Permiso], [G00006_Proceso], [G00006_Modulo], [G00006_Permiso]) VALUES (7, N'306. Logistica', N'001.Logistica', N'306_001_Solicitar_Material')
SET IDENTITY_INSERT [dbo].[tbl_G00006_Permiso] OFF
GO
