USE [dbBitCorp]
GO
/****** Object:  Table [dbo].[tbl_C06007_Cotizacion]    Script Date: 3/4/2026 11:33:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_C06007_Cotizacion](
	[C06007_IdNumCotizacion] [int] NOT NULL,
 CONSTRAINT [PK_tbl_C06007_Cotizacion] PRIMARY KEY CLUSTERED 
(
	[C06007_IdNumCotizacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
