USE [dbBitCorp]
GO
/****** Object:  Table [dbo].[tbl_C07004_EvaluacionProveedor]    Script Date: 3/4/2026 11:33:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_C07004_EvaluacionProveedor](
	[C07004_IdEvaluacion] [int] IDENTITY(1,1) NOT NULL,
	[C07001_RUC] [varchar](11) NULL,
	[C07004_RazonSocial] [varchar](100) NULL,
	[C07004_Precio] [varchar](100) NULL,
	[C07004_PlazoPago] [varchar](100) NULL,
	[C07004_Calidad] [varchar](100) NULL,
	[C07004_PlazoCumplimiento] [varchar](100) NULL,
	[C07004_Ubicacion] [varchar](100) NULL,
	[C07004_AtencionCliente] [varchar](100) NULL,
	[C07004_SGC] [varchar](100) NULL,
	[C07004_SGSST] [varchar](100) NULL,
	[C07004_SGA] [varchar](100) NULL,
	[C07004_Puntaje] [decimal](6, 4) NULL,
	[C07004_Resultado] [varchar](20) NULL,
	[C07004_Accion] [varchar](100) NULL,
	[C07004_ParametroValor] [varchar](50) NULL,
	[C07004_Observacion] [varchar](200) NULL,
	[C07004_FechaEvaluacion] [smalldatetime] NULL,
	[C07004_EvaluadoPor] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_C07004_EvaluacionProveedor] PRIMARY KEY CLUSTERED 
(
	[C07004_IdEvaluacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_C07004_EvaluacionProveedor] ON 

SET IDENTITY_INSERT [dbo].[tbl_C07004_EvaluacionProveedor] OFF
GO
