USE [dbBitCorp]
GO
/****** Object:  Table [dbo].[tbl_C08003_ContratoAdenda]    Script Date: 3/4/2026 11:33:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_C08003_ContratoAdenda](
	[C08003_IdContratoAdenda] [varchar](23) NOT NULL,
	[C08003_TipoDocumento] [varchar](8) NULL,
	[C08003_NumContrato] [varchar](19) NULL,
	[C08001_CodigoEquipo] [varchar](20) NULL,
	[C08003_FechaInicio] [date] NULL,
	[C08003_FechaFin] [date] NULL,
	[C08003_Plazo] [varchar](25) NULL,
	[C08003_Modalidad] [varchar](30) NULL,
	[C08003_TipoTarifa] [varchar](3) NULL,
	[C08003_Tarifa] [money] NULL,
	[C08003_Moneda] [varchar](20) NULL,
	[C08003_MinimoPor] [varchar](20) NULL,
	[C08003_CantidadMinima] [decimal](6, 2) NULL,
	[C08003_Estatus] [varchar](20) NULL,
	[G00001_Id_UnidadOperativa] [varchar](7) NULL,
 CONSTRAINT [PK_tbl_C08003_ContratoAdenda] PRIMARY KEY CLUSTERED 
(
	[C08003_IdContratoAdenda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_C08003_ContratoAdenda]  WITH CHECK ADD  CONSTRAINT [FK_tbl_C08003_ContratoAdenda_tbl_C08001_Equipo] FOREIGN KEY([C08001_CodigoEquipo])
REFERENCES [dbo].[tbl_C08001_Equipo] ([C08001_CodigoEquipo])
GO
ALTER TABLE [dbo].[tbl_C08003_ContratoAdenda] CHECK CONSTRAINT [FK_tbl_C08003_ContratoAdenda_tbl_C08001_Equipo]
GO
