USE [dbBitCorp]
GO
/****** Object:  Table [dbo].[tbl_SUNAT06_UnidadMedida]    Script Date: 3/4/2026 11:33:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SUNAT06_UnidadMedida](
	[SUNAT06_Id_UM] [varchar](10) NULL,
	[SUNAT06_UnidadMedida] [varchar](50) NULL,
	[SUNAT06_UM] [varchar](10) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_SUNAT06_UnidadMedida] ([SUNAT06_Id_UM], [SUNAT06_UnidadMedida], [SUNAT06_UM]) VALUES (N'1', N'KILOGRAMOS', N'kg')
INSERT [dbo].[tbl_SUNAT06_UnidadMedida] ([SUNAT06_Id_UM], [SUNAT06_UnidadMedida], [SUNAT06_UM]) VALUES (N'10', N'BARRILES', N'BRR')
INSERT [dbo].[tbl_SUNAT06_UnidadMedida] ([SUNAT06_Id_UM], [SUNAT06_UnidadMedida], [SUNAT06_UM]) VALUES (N'11', N'LATAS', N'LAT')
GO
