USE [dbBitCorp]
GO
/****** Object:  Table [dbo].[tbl_C08001_Equipo]    Script Date: 3/4/2026 11:33:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_C08001_Equipo](
	[C08001_CodigoEquipo] [varchar](20) NOT NULL,
	[C07001_RucProveedor] [varchar](11) NULL,
	[C07001_RazonSocial] [varchar](100) NULL,
	[C08001_TipoProveedor] [varchar](20) NULL,
	[C08001_Equipo] [varchar](35) NULL,
	[C08001_Placa] [varchar](10) NULL,
	[C08001_DocAcredita] [varchar](30) NULL,
	[C08001_FechaAcredita] [date] NULL,
	[C08001_Marca] [varchar](20) NULL,
	[C08001_Modelo] [varchar](20) NULL,
	[C08001_SerieEquipo] [varchar](20) NULL,
	[C08001_NumChasis] [varchar](20) NULL,
	[C08001_SerieMotor] [varchar](20) NULL,
	[C08001_PotenciaNeta] [varchar](20) NULL,
	[C08001_AñoFabricacion] [varchar](4) NULL,
	[C08001_FechaVencePoliza] [date] NULL,
	[C08001_FechaVenceSOAT] [date] NULL,
	[C08001_FechaVenceCITV] [date] NULL,
	[C08001_CodigoExterno] [varchar](20) NULL,
	[C08001_TipoHoroOdo] [varchar](9) NULL,
	[C08001_HorometroOdometro] [varchar](9) NULL,
	[C08001_TipoCombustible] [varchar](10) NULL,
	[C08001_Estatus] [varchar](15) NULL,
	[G00001_Id_UnidadOperativa] [varchar](7) NULL,
	[C08001_FechaRegistro] [smalldatetime] NULL,
	[C08001_RegistradoPor] [varchar](60) NULL,
	[C08001_FechaActualizacion] [smalldatetime] NULL,
	[C08001_ActualizadoPor] [varchar](60) NULL,
 CONSTRAINT [PK_tlbEquipo] PRIMARY KEY CLUSTERED 
(
	[C08001_CodigoEquipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_C08001_Equipo]  WITH CHECK ADD  CONSTRAINT [FK_tbl_C08001_Equipo_tbl_C07001_Proveedor] FOREIGN KEY([C07001_RucProveedor])
REFERENCES [dbo].[tbl_C07001_Proveedor] ([C07001_RUC])
GO
ALTER TABLE [dbo].[tbl_C08001_Equipo] CHECK CONSTRAINT [FK_tbl_C08001_Equipo_tbl_C07001_Proveedor]
GO
