USE [dbBitCorp]
GO
/****** Object:  Table [dbo].[tbl_C08008_EquipoGastoObra]    Script Date: 3/4/2026 11:33:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_C08008_EquipoGastoObra](
	[C08004_IdValorizacion] [varchar](22) NULL,
	[C08008_IdGastoObra] [int] IDENTITY(1,1) NOT NULL,
	[C08008_FechaOperacion] [date] NULL,
	[C08008_Proveedor] [varchar](100) NULL,
	[C08008_Concepto] [varchar](150) NULL,
	[C08008_TipoDocumento] [varchar](20) NULL,
	[C08008_NumDocumento] [varchar](20) NULL,
	[C08008_Importe] [smallmoney] NULL,
	[C08008_IncluyeIGV] [varchar](2) NULL,
	[C08008_ImporteSinIGV] [smallmoney] NULL,
 CONSTRAINT [PK_tbl_C08008_EquipoGastoObra] PRIMARY KEY CLUSTERED 
(
	[C08008_IdGastoObra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_C08008_EquipoGastoObra] ON 

INSERT [dbo].[tbl_C08008_EquipoGastoObra] ([C08004_IdValorizacion], [C08008_IdGastoObra], [C08008_FechaOperacion], [C08008_Proveedor], [C08008_Concepto], [C08008_TipoDocumento], [C08008_NumDocumento], [C08008_Importe], [C08008_IncluyeIGV], [C08008_ImporteSinIGV]) VALUES (N'04.CCU-VL-CI-4001-015', 1, CAST(N'2020-04-30' AS Date), N'', N'Sueldo', N'PLANILLA', N'', 1893.0000, N'NO', 1893.0000)
INSERT [dbo].[tbl_C08008_EquipoGastoObra] ([C08004_IdValorizacion], [C08008_IdGastoObra], [C08008_FechaOperacion], [C08008_Proveedor], [C08008_Concepto], [C08008_TipoDocumento], [C08008_NumDocumento], [C08008_Importe], [C08008_IncluyeIGV], [C08008_ImporteSinIGV]) VALUES (N'04.CCU-VL-CI-4001-015', 2, CAST(N'2020-04-30' AS Date), N'', N'Aportaciones', N'PLANILLA', N'', 199.3300, N'NO', 199.3300)
INSERT [dbo].[tbl_C08008_EquipoGastoObra] ([C08004_IdValorizacion], [C08008_IdGastoObra], [C08008_FechaOperacion], [C08008_Proveedor], [C08008_Concepto], [C08008_TipoDocumento], [C08008_NumDocumento], [C08008_Importe], [C08008_IncluyeIGV], [C08008_ImporteSinIGV]) VALUES (N'04.CCU-VL-CI-4001-015', 3, CAST(N'2020-04-30' AS Date), N'', N'Alimentacion', N'PLANILLA', N'', 600.0000, N'NO', 600.0000)
GO
SET IDENTITY_INSERT [dbo].[tbl_C08008_EquipoGastoObra] OFF
GO
ALTER TABLE [dbo].[tbl_C08008_EquipoGastoObra]  WITH CHECK ADD  CONSTRAINT [FK_tbl_C08008_EquipoGastoObra_tbl_C08004_ValorizacionEquipo] FOREIGN KEY([C08004_IdValorizacion])
REFERENCES [dbo].[tbl_C08004_ValorizacionEquipo] ([C08004_IdValorizacion])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[tbl_C08008_EquipoGastoObra] CHECK CONSTRAINT [FK_tbl_C08008_EquipoGastoObra_tbl_C08004_ValorizacionEquipo]
GO
