USE [dbBitCorp]
GO
/****** Object:  Table [dbo].[tbl_C05000_Trabajador]    Script Date: 3/4/2026 11:33:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_C05000_Trabajador](
	[C05000_DNI] [varchar](8) NOT NULL,
	[C05000_Nombre] [varchar](50) NULL,
	[C05000_Apellido] [varchar](50) NULL,
	[C05000_FechaNacimiento] [date] NULL,
	[C05000_Sexo] [varchar](50) NULL,
	[C05000_Celular1] [varchar](50) NULL,
	[C05000_Celular2] [varchar](50) NULL,
	[C05000_Email1] [varchar](50) NULL,
	[C05000_Email2] [varchar](50) NULL,
	[C05000_TipoSangre] [varchar](10) NULL,
	[C05000_Talla_Zapato] [varchar](5) NULL,
	[C05000_Talla_Pantalon] [varchar](5) NULL,
	[C05000_Talla_Camisa] [varchar](5) NULL,
	[C05000_Observacion] [varchar](100) NULL,
	[C05000_FechaActualizacion] [date] NULL,
	[C05000_ActualizadoPor] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_C05000_Trabajador] PRIMARY KEY CLUSTERED 
(
	[C05000_DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_C05000_Trabajador] ([C05000_DNI], [C05000_Nombre], [C05000_Apellido], [C05000_FechaNacimiento], [C05000_Sexo], [C05000_Celular1], [C05000_Celular2], [C05000_Email1], [C05000_Email2], [C05000_TipoSangre], [C05000_Talla_Zapato], [C05000_Talla_Pantalon], [C05000_Talla_Camisa], [C05000_Observacion], [C05000_FechaActualizacion], [C05000_ActualizadoPor]) VALUES (N'00000001', N'LURELY TATHIANA ', N'CASTILLO ', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2021-08-04' AS Date), N'71456444_KELY YESSET ASTOVILCA HUAMANI')
INSERT [dbo].[tbl_C05000_Trabajador] ([C05000_DNI], [C05000_Nombre], [C05000_Apellido], [C05000_FechaNacimiento], [C05000_Sexo], [C05000_Celular1], [C05000_Celular2], [C05000_Email1], [C05000_Email2], [C05000_TipoSangre], [C05000_Talla_Zapato], [C05000_Talla_Pantalon], [C05000_Talla_Camisa], [C05000_Observacion], [C05000_FechaActualizacion], [C05000_ActualizadoPor]) VALUES (N'01240877', N'JULIAN ', N'CAHUANA FLORES', NULL, N'MASCULINO', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'CONDUCTOR DE COMBI', CAST(N'2021-07-20' AS Date), N'71456444_KELY YESSET ASTOVILCA HUAMANI')
GO
